/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
}

.logo-section {
  font-weight: bold;
  font-size: 20px;
}

.link-section {
  display: none;
  flex-direction: column;
  list-style: none;
}

.link-section.open {
  display: flex;
  flex-direction: row; /* Display menu items in a row */
  justify-content: flex-end; /* Align menu items to the right */
}

.link-section li {
  margin-bottom: 10px;
}

.link-section a {
  text-decoration: none;
  color: #333;
}

.link-section a:hover {
  color: #555;
}

.link-section a.active {
  font-weight: bold;
}

.login-section {
  font-weight: bold;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none; /* Hide the menu button on desktop */
}

.menu-icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #333;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.menu-icon:before,
.menu-icon:after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.menu-icon:before {
  top: -6px;
}

.menu-icon:after {
  top: 6px;
}

.menu-button.open .menu-icon {
  transform: rotate(45deg);
}

.menu-button.open .menu-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.menu-button.open .menu-icon:after {
  transform: scaleX(0);
  top: 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.hidden {
  display: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  z-index: 99999;
}

@media (max-width: 768px) {
  .btn-section {
    display: none;
  }

  .link-section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    padding: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link-section.open {
    display: flex;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    z-index: 99999;
  }

  .menu-button {
    display: block; /* Show the menu button on mobile */
  }
}
